

div.gallery {
    background-color: white;
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.9;
}

div.gallery img {
    padding: 2px;
    width: 100%;
    height: auto;
}

div.desc2 {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    padding-bottom: 10px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.ScrollStyle
{
    height: 1000px;
    overflow-y: scroll;
}
